<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    <% for (var i = 0; i<users.length; i++) { %>
      <li><a href=/users/<%=users[i].id %>><%= users[i].username %></a></li>
    <% } %>
  </ul>
  <h2>Sign Up</h2>
  <form action=/users/ method="post">
    <input type="text" placeholder="username" name="username">
    <br>
    <input type="password" placeholder="password" name="password">
    <br>
    <button>Sign Up</button>
  </form>
  </body>
</html>
